<html>
  <head>
    <title>Modifier un potin</title>
  </head>
  <body>
    <h1>Modifie le potin !</h1>
    <p>édite ton potin via le formulaire ci-dessous</p>
    <form action='/gossips/<%= params['id'] %>/edit/' method='POST'>
      Saisi ici ton nom :  <input type='text' name='gossip_author'/><br/>
      Balance ta modif : <input type='text' name='gossip_content'/><br/>
      <input type='submit'/>
    </form>
  </body>
</html