
  <div class='text-center mt-5 mb-5'>
  <h1>Page Team</h1>
  <p>Ceci est la page à propos de l'équipe qui a développé The Gossip Project. Yay !</p>
  <p>Lol astéroïde.</p>
  </div>

<div class='container' style = 'text-center mt-5 mb-5'>
  <div class="row">
      <div class="card-deck m-3 text-center">
        <div class="card" style="width: 19rem;">
          <div class="card-body">
            <h3 class="card-title">Ben</h3>
            <h6 class="card-subtitle mb-2 text-muted">Le Strasbourgeois</h6>
            <p class="card-text"> Description personnalisée</p>
          </div>
        </div>
      </div>

       <div class="card-deck m-3 text-center">
        <div class="card" style="width: 19rem;">
          <div class="card-body">
            <h3 class="card-title">Juliet</h3>
            <h6 class="card-subtitle mb-2 text-muted">La L qui s'est perdue</h6>
            <p class="card-text">Description personnalisée</p>
          </div>
        </div>
      </div>

       <div class="card-deck m-3 text-center">
        <div class="card" style="width: 19rem;">
          <div class="card-body">
            <h3 class="card-title">Amaury</h3>
            <h6 class="card-subtitle mb-2 text-muted">Le jeune papa</h6>
            <p class="card-text"> DBZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ</p>
          </div>
        </div>
      </div>
  </div>
</div>
